
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Missing COPE take customer details
      </h1>
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            For the customer
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            There’s a message on the system telling me that HMRC’s Specialist team are still checking your National Insurance record. This is to ensure your pension forecast is accurate and up to date.
          <p>
            <p class="govuk-notification-banner__heading">
            There’s nothing to worry about, they do updates like this from time to time.
            </p>
            <p class="govuk-notification-banner__heading">
            Sorry about the delay. Your forecast will be sent out in 5-6 weeks.
            </p>


        </div>
      </div>

      <div class="govuk-inset-text">
<p><span class="govuk-body govuk-!-font-weight-bold">Complete FPC1</span> with customer's name and NINo. Select Digital as the department and Missing COPE as the category.</p>
</div>

<br>
<button class="govuk-button" data-module="govuk-button">
  End call
</button>


    </div>
  </div>

{% endblock %}
