
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">NI number: QQ 12 34 56 C</span>
      <h1 class="govuk-heading-l" style="margin-bottom: 30px">
        Check letter details
      </h1>


    <dl class="govuk-summary-list govuk-!-margin-bottom-3">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Customer full name
            </dt>
            <dd class="govuk-summary-list__value">
              John Smith
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Qualifying years already gained
            </dt>
            <dd class="govuk-summary-list__value">
            8
            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a> -->
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Qualifying years still needed
            </dt>
            <dd class="govuk-summary-list__value">
            2
            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a> -->
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Main Street<br>
            Aberdeen<br>
          AB24 6BW
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>



        </dl>

        <br>
        <form class="form" action="confirmation" method="post">
                  <button class="govuk-button" data-module="govuk-button">
                    Download letter as PDF
                  </button>
        </form>
        <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Download letter as PDF
        </button> -->

    </div>
  </div>

{% endblock %}
