
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#postcode-error">Enter a valid postcode, like AA1 1AA</a>
      </li>
    </ul>
  </div>
</div>
  <form class="form" action="resultG42" method="post">
      <div class="govuk-form-group govuk-form-group--error">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
            What is their postcode?
          </label>
        </h1>
        <span id="passport-issued-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Enter a valid postcode
      </span>
        <input class="govuk-input govuk-input--width-10 govuk-input--error" id="postcode" name="postcode" type="text" style="text-transform: uppercase">
        <br><br><a href="overseas" class="govuk-link">They live overseas</a>
            </div>

      <br><br>
                <button class="govuk-button" data-module="govuk-button">
                  Find address
                </button>
  </form>
<br><br>
<div>

<!-- <form class="form" action="resultG42">
<button class="resultWS13" style="background-color:white; border-style:none; float:left; color:#BEBEBE">
  g
</button>
</form>
<form class="form" action="resultHU1">
<button class="resultWS13" style="background-color:white; border-style:none; float: left; color:#BEBEBE">
  h
</button>
</form>
<form class="form" action="resultHU12">
<button class="resultWS13" style="background-color:white; border-style:none; float:left; color:#BEBEBE">
  H
</button>
</form>
<form class="form" action="resultWS13">
<button class="resultWS13" style="background-color:white; border-style:none; color:#BEBEBE">
  w
</button>
</form> -->
</div>
    </div>
  </div>

{% endblock %}
