
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#postcode-error">Please select an address from the list</a>
      </li>
    </ul>
  </div>
</div>
      <h1 class="govuk-heading-xl" style="margin-bottom: 30px">
        Select their address
      </h1>

  <p class="govuk-body" style="margin-bottom: 10px"><span class="govuk-!-font-weight-bold" ">Postcode:</span> G42 9BT</p>
<a href="postcode" class="govuk-link">Change</a>
<br><br><br>
      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="sort">
          Select an address
        </label>
        <span id="passport-issued-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> You need to select a valid address
      </span>
      <div class="govuk-input--error" style="width: 30%">
        <select class="govuk-select" id="sort" name="sort">
          <option value="updated" selected>0 addresses found</option>

        </select>
        </div>
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          As no addresses have been assigned yet to this postcode <a href="">enter the address manually</a>
        </strong>
      </div>


<br><br>
<form class="form" action="../existingUT" method="post">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
<a href="edit" class="govuk-link">Address not on the list</a>
    </div>
  </div>

{% endblock %}
