
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">NI number: AA 12 34 56 C</span>
      <h1 class="govuk-heading-xl">
        Accessibility request take customer details
      </h1>
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            For the customer
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
  I’ll just add your accessibility requests to our form and your forecast will be posted out to you.  </p>



        </div>
      </div>

      <div class="govuk-inset-text">
<span class="govuk-body govuk-!-font-weight-bold">Telephone and BR19 process:</span> Complete an<span class="govuk-body govuk-!-font-weight-bold">‘FPC1’</span>, select <span class="govuk-body govuk-!-font-weight-bold">‘Call centre’</span> as the department and <span class="govuk-body govuk-!-font-weight-bold">‘Alternative format’</span> as the category..
<br><br>
Add <span class="govuk-body govuk-!-font-weight-bold">Large print</span> into the FPC1 comments box.
</div>

<br><br>
      <!-- <div class="govuk-inset-text">
Customers can call HMRC on 0800 200 300 055 if needed.
</div> -->
<br>
<form class="form" action="access" method="post">
<button class="govuk-button" data-module="govuk-button">
  Back to start
</button>
</form>
<br>



    </div>
  </div>

{% endblock %}
