
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
        <div class="govuk-form-group">
          <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              It's a printed letter we post out to you. Do you need a different format or Welsh language?
            </h1>
          </legend>
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="/altformatyes" name="/altformatyes" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="altformatyes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>




    </div>
    <br>
    <div>
      <a href="altformatyes2">
      <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
      </a>
</div>
  </div>
</div>
{% endblock %}
