
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="altformatyes5" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>

            <h1 class="govuk-heading-l">Send forecast in British Sign Language</h1>
          </div>
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Tell the customer
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        I'll post your State Pension forecast out to you in British Sign Language.
        <br>
        <br>

        Do you prefer Mpeg or DVD?
      </p>
    </div>
  </div>

  <div class="govuk-inset-text">
    <b>FPC1 process:</b> Add customer's name and National Insurance number. Select <b>Call Centre</b> as the department and <b>Alternative format</b> as the category.
    <br>
    <br>
    Add <b>BSL</b> in the <b>Format Required</b> box. Add <b>Mpeg</b> or <b>DVD</b> in the <b>Notes</b> box.
    </div>
    <br>
    <div>
<a href="altformat5">
      <button class="govuk-button" data-module="govuk-button">
    Back to start
  </button>
      </a>
</div>
  </div>
</div>
{% endblock %}
