
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="overseascheck" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">NI number: QQ 12 34 56 C</span>
            <h1 class="govuk-fieldset__heading">
              Is this address UK based?
            </h1>
          </legend>





        <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="main" name="type" type="radio" value="main">
                <label class="govuk-label govuk-radios__label" for="main">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="third" name="type" type="radio" value="third">
                <label class="govuk-label govuk-radios__label" for="third">
                No
                </label>
                <!-- <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
        Access <span class="govuk-body govuk-!-font-weight-bold">Searchlight</span> using the customer's National insruance number. <br>
        Check whether the customer has a legal representative.
        </div> -->
              </div>

            </div>



        </fieldset>
      </div>


<br><br>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
    </div>
  </div>

{% endblock %}
