
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">NI number: AA 12 34 56 C</span>
      <h1 class="govuk-heading-xl">
        Isle of Man placeholder
      </h1>
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            For the customer
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
Placeholder
            </p>


              <p>
                Placeholder
              </p>



        </div>
      </div>

      <div class="govuk-inset-text">
<span class="govuk-body govuk-!-font-weight-bold">BR19 process:</span> Go to <span class="govuk-body govuk-!-font-weight-bold">‘The Hub’</span> and select <span class="govuk-body govuk-!-font-weight-bold">‘call/clerical’</span> then <span class="govuk-body govuk-!-font-weight-bold">'Letters'</span> and send the customer the appropriate letter.
</div>
<br>


<br>
<form class="form" action="index" method="post">
<button class="govuk-button" data-module="govuk-button">
  Back to start
</button>
</form>
<br>



    </div>
  </div>

{% endblock %}
