
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" style="margin-bottom:10px">
      Forecast information for AA 12 23 34 C

      </h1>
<strong class="govuk-tag govuk-tag--orange" id="company-information-status">MINIMUM QUALIFYING PERIOD</strong>
<br><br><br>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Overview
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <ol class="app-task-list">
                          <li>


                          <li>

                            <ul class="app-task-list__items" style="padding-left:0">
                              <li class="app-task-list__item">

                                    State pension date

                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status">2 December 2021</strong>
                              </li>
                              <!-- <li class="app-task-list__item">

                                    State pension age

                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">66</strong>
                              </li> -->
                              <li class="app-task-list__item">

                                    Final relevant year

                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">2020-21 (0 years to FRY)</strong>
                              </li>

                              <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                  Estimate up to 5 April 2021
                                </span>
                                <strong class="govuk-tag govuk-tag--red app-task-list__tag" id="medical-information-status">£0.00 a week</strong>
                              </li>
                              <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                  Qualifying years
                                </span>

                                <strong class="govuk-tag govuk-tag--red app-task-list__tag" id="medical-information-status">8</strong>
<br><details class="govuk-details" data-module="govuk-details" style="margin-bottom:0px">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      More information
    </span>
  </summary>
  <div class="govuk-details__text">
    Need 10 qualifying years to be eligible to claim State Pension.
  </div>
</details>
                              </li>
                              <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                  Most they can get
                                </span>
                                <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">£53.31 a week</strong>
                              </li>

                              <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                  Cope estimate:
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">£0.00 a week</strong>
                                <br><details class="govuk-details" data-module="govuk-details" style="margin-bottom:0px">
                                  <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                      More information
                                    </span>
                                  </summary>
                                  <div class="govuk-details__text">
                                    Contracted out years still count towards qualifying years. Could have a private pension due to contracting out.
                                  </div>
                                </details>
                              </li>
                            </ul>
                          </li>

                        </ol>
                </div>
              </div>
              <!-- <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Modelling
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <p class='govuk-body'>Content</p>
                </div>
              </div> -->
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      National Insurance record
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                  <p class='govuk-body'>Content</p>
                </div>
              </div>

            </div>


<!-- <form class="form" action="over_pension_age2_2/NI" method="post">

          <button class="govuk-button" data-module="govuk-button">
            Start now
          </button>
</form> -->
    </div>
  </div>

{% endblock %}
