
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Enter details for AA121111A
      </h1>

<h3 class="govuk-heading-m">Customer name</h3>
<div class="govuk-form-group">
<label class="govuk-label" for="sort">
  First name
</label>
<input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
</div>

<div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Last name
    </label>
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
  </div>
  <br>
<h3 class="govuk-heading-m">Third party name</h3>
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Title
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="updated" selected></option>
    <option value="published">Mr</option>
    <option value="updated">Mrs</option>
    <option value="views">Ms</option>
    <option value="comments">Dr</option>
    <option value="published">Prof</option>
    <option value="updated">Rev</option>
    <option value="views">Sir</option>
    <option value="comments">Lady</option>
    <option value="views">Lord</option>
    <option value="comments">Dame</option>
  </select>
</div>
<div class="govuk-form-group">
<label class="govuk-label" for="sort">
  First name
</label>
<input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
</div>

<div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Last name
    </label>
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
  </div>

  <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Organisation name
      </label>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
    </div>
    <br>



    <br><br><br>
<form class="form" action="postcode" method="post">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
    </div>
  </div>

{% endblock %}
