
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        HMRC still working on missing COPE check
      </h1>
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            For the customer
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
        There’s a message on the system telling me that HMRC’s Specialist team arestill checking your National Insurance record. This is to ensure your pension forecast is accurate and up to date.
            </p>
            <p class="govuk-notification-banner__heading">
            Unfortunately, there’s a backlog of work to get through so it’s taking longer to complete.
</p>
<p class="govuk-notification-banner__heading">
            While this work is ongoing, it means I can’t see your record either.
            </p>
            <p class="govuk-notification-banner__heading">
            Sorry about the delay. Your forecast will be sent out in 5-6 weeks.
            </p>

        </div>
      </div>

      <div class="govuk-inset-text">
If you are completing a <span class="govuk-body govuk-!-font-weight-bold">BR19</span> send the customer a ‘Missing COPE holding letter’.
</div>
<br>
<button class="govuk-button" data-module="govuk-button">
  End call
</button>


    </div>
  </div>

{% endblock %}
