
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Exclusion & alt formats testing
      </h1>

      <p><a href="UTscenarios/s1/NI">Scenario 1</a></p>
      <p><a href="UTscenarios/s2/NI">Scenario 2</a></p>
      <p><a href="UTscenarios/s3/NI">Scenario 3</a></p>
      <p><a href="UTscenarios/s4/NI">Scenario 4</a></p>
      <p><a href="UTscenarios/s5/NI">Scenario 5</a></p>
        <p><a href="UTscenarios/s6/NI">Scenario 6</a></p>
      <p><a href="UTscenarios/s7/NI">Scenario 7</a></p>
      <p><a href="UTscenarios/s8/NI">Scenario 8</a></p>
          <p><a href="UTscenarios/s9/NI">Scenario 9</a></p>

    </div>
  </div>

{% endblock %}
