{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/CIS_journey/CIScheck">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <form class="form" action="/howcanhelp1-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "how_can_help1",
    name: "how_can_help1",
    fieldset: {
      legend: {
        text: "How can I help you today?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"

      }
    },
    hint: {
      text: "Select one option"
    },
    items: [
    {
      value: "State Pension forecast",
      text: "State Pension forecast",
      checked: checked("how_can_help1", "CIS_journey/own_forecast")
  },
  {
      value: "Forecast enquiry",
      text: "Forecast enquiry",
      checked: checked("how_can_help1", "CIS_journey/forecast1")
  }

    ]
  }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
