
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your State Pension forecast
      </h1>

      <div class="govuk-inset-text">
      <p style="margin-bottom: 0px;">We are making routine updates to your National Insurance record and are unable to calculate your State Pension forecast at the moment.</p>
      </div>

  <p>Your State Pension forecast will be available in 19 weeks.<p>


    </div>
  </div>

{% endblock %}
