
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your State Pension forecast
      </h1>

      <p style="margin-bottom: 0px;">We’re unable to show your State Pension forecast as we are making routine updates to your National Insurance record.</p>

  <p>Your State Pension forecast will be available in 10 weeks.<p>

      <p><a href="">Sign out</a></p>


    </div>
  </div>

{% endblock %}
