
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your State Pension summary
      </h1>
      <h3 class="govuk-heading-m">
        You'll reach State Pension age on 6 November 2019
      </h3>

      <div class="govuk-inset-text">
      <p>We're unable to calculate your State Pension forecast as you have <a href="" target="_blank">paid a reduced rate of National Insurance as amarried woman (opens in a new tab)</a>.</p>
      <p>In the meantime, you can <a href="" target="_blank">contact the Future Pension Centre (opens in a new tab)</a> to get an estimate of your State Pension, based on your current National Insurance record<p>
      </div>

      <p>
        To get a copy of your National Insurance record so far, <a href="" target="_blank">contact the National Insurance helpline (opens in a new tab)</a>
      </p>
<br>
      <h3 class="govuk-heading-m">
        Help us improve this service
      </h3>

      <p>
        If you would like to take part in any future research so we can find out what people in your situation would like to know, pelase leave your contact details when you sign out
      </p>
      <p><a href="">Sign out and leave feedback</a></p>


    </div>
  </div>

{% endblock %}
