{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/altformatwelsh-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "altformat-welsh",
    name: "altformat-welsh",
    fieldset: {
      legend: {
        text: "How do you want us to send your State Pension forecast?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
  {
      value: "Large print",
      text: "Large print",
      checked: checked("altformat-welsh", "Large print")
  },
  {
      value: "Coloured paper",
      text: "Coloured paper",
      checked: checked("altformat-welsh", "Coloured paper")
  },
  {
      value: "Large print and coloured paper",
      text: "Large print and coloured paper",
      checked: checked("altformat-welsh", "Large print and coloured paper")
  },
  {
      value: "Audio format (cassette, CD, DVD or MP3)",
      text: "Audio format (cassette, CD, DVD or MP3)",
      checked: checked("altformat-welsh", "Audio format (cassette, CD, DVD or MP3)")
  },
  {
      value: "Braille",
      text: "Braille",
      checked: checked("altformat-welsh", "Braille")
  },
  {
      value: "British Sign Language (Mpeg or DVD)",
      text: "British Sign Language (Mpeg or DVD)",
      checked: checked("altformat-welsh", "British Sign Language (Mpeg or DVD)")
  },
  {

      value: "Something else",
      text: "Something else",
      checked: checked("altformat-welsh", "Something else")
  }
    ]
  }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
