
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-bottom: 30px">
        Select third party address
      </h1>

  <p class="govuk-body" style="margin-bottom: 10px"><span class="govuk-!-font-weight-bold" ">Postcode:</span> G2 6HJ</p>
<a href="#" class="govuk-link">Change</a>
<br><br><br>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Select an address
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="updated" selected>66 addresses found</option>
          <option value="">A M G SEARCH, SUITE 433-434, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">ADHOC PROPERTY MANAGEMENT, SUITE 220, BALTIC CHAMBERS,  50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">AITON & CO, SUITE 114, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">AMEDEO ADJUSTING LTD, SUITE 216, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">ARGYLL INTERNATIONAL LTD, SUITE 426, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">BEYONDE LTD, SUITE 245, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">BRIDGEWATER BUILDING SOLUTIONS LTD, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">BYSTONE ESTATES LTD, SUITE 409, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">CAMERON MACAULAY, SUITE 144, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">CARSWELL FUNDING LTD, SUITE 335, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">CONTACT ONLINE LTD, SUITE 126-128, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">COOK & CO, SUITE 525, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">CORIOLIS ENERGY LTD, SUITE 406-407, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">E M C, SUITE 522, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">E S E P LTD, SUITE 436, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">EMPLOY EASILY H R SERVICES LTD, SUITE 544-545, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">ESCAPE LTD, SUITE G2, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">FINANCIAL SERVICES WEALTH MANAGEMENT LTD, SUITE 107-109, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">FOCUS FINANCIAL MANAGEMENT (SCOTLAND) LTD, SUITE 416, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">GI RECRUITMENT, SUITE 142, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">GLASGOW MENTORING NETWORK LTD, SUITE 135, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">GLASGOW PAIN & INJURY CLINIC, SUITE 136-137, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">HOSPITAL BROADCASTING SERVICE, SUITE 444, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">INDICIA TRAINING, SUITE 512-515, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">KERR BROWN PARTNERSHIP, SUITE 312, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">LEGAL LINKS SCOTLAND LTD, SUITE 242-243, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">LIGHTERLIFE UK LTD, SUITE 107-109, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">LITHE I T, SUITE 429, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">MAITH DESIGN LTD, SUITE 320-323, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">MARIE CURIE CANCER CARE, SUITE 438, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">MARION GREEN FINANCIAL SERVICES LTD, SUITE 236, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">MATRIX TRANSPORT SERVICES LTD, SUITE 534, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">MCKINLAY KIDD LTD, SUITE 120, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">MICHAEL HALL ASSOCIATES LTD, SUITE 420, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">NUTRITION & DIET RESOURCES UK, SUITE 238-239, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">O C C A, SUITE 222, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">OPTIMUM P P S LTD, SUITE 220, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">OPTOMETRY SCOTLAND, SUITE 326-328, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">PARKHILL MACKIE & CO, BALTIC CHAMBERS, 60 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">PARTRAC LTD, SUITE 440, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">RECRUITING UK LTD, SUITE 105, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">RED SPIRE LTD, SUITE 507-511, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">ROSHNI LRD, SUITE 338, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">S D BUSINESS MANAGEMENT, SUITE 411, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SCOTTISH COMMUNITY DEVELOPMENT CENTRE, SUITE 305, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SCOTTISH RECOVERY NETWORD, SUITE 320-323, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SECOND CITY CREATIVE LTD, SUITE 424, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SPA LTD, SUITE 540-541, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">STELMAIN LTD, SUITE 540-542, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">STEWART STEVENSON ARCHITECTS, SUITE 237, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">STREETS - UK, SUITE 411, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 128, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 129, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 138, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 145, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 235, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 244, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 334, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 340, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 410, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">SUITE 516-521, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">TEARFUND, SUITE 529-534, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">TEARFUND (SCOTLAND), SUITE 529-534, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">THE PUBLISHING BUREAU LTD, SUITE 102, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">TYCOM, SUITE 535, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">WALLACE WHITE, SUITE 401-404, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>
          <option value="">WINTER & CO, SUITE 201-203, BALTIC CHAMBERS, 50 WELLINGTON STREET, GLASGOW, G2 6HJ</option>


        </select>
      </div>


<br><br>
<form class="form" action="../existingUT" method="post">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
<a href="edit" class="govuk-link">Address not on the list</a>
    </div>
  </div>

{% endblock %}
