
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Record needs a manual COPE calculation
      </h1>
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            For the customer
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
Sorry, there’s a message on the system telling me a manual calculation is needed for your pension forecast.
  </p>
  <p class="govuk-notification-banner__heading">
Unfortunately, that means I can’t send you a forecast today.
  <p>
    <p class="govuk-notification-banner__heading">
If I can just confirm your details with you now, I’ll send them over to the Specialist team, who will post you a forecast within 10 weeks.
          </p>
        </div>
      </div>

      <div class="govuk-inset-text">
<p><span class="govuk-body govuk-!-font-weight-bold">Complete FPC1</span> with customer's name and NINo. Select Specialist Team as the department and Missing COPE Manual Calc as the category.</p>
</div>
<br>
<button class="govuk-button" data-module="govuk-button">
  End call
</button>


    </div>
  </div>

{% endblock %}
