
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check if the customer has tried to view their forecast online
      </h1>

<form class="form" action="/missingcope2/mc" method="post">
      <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="main" name="customer" type="radio" value="main">
              <label class="govuk-label govuk-radios__label" for="main">
                Yes, recently and seen a message from HMRC
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="2" name="customer" type="radio" value="2">
              <label class="govuk-label govuk-radios__label" for="2">
                Yes, they have seen a forecast online before
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="3" name="customer" type="radio" value="3">
              <label class="govuk-label govuk-radios__label" for="3">
                No
              </label>
            </div>
          </div>
<br><br><br>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
    </div>
  </div>

{% endblock %}
