
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-bottom: 30px">
        Select their address
      </h1>

  <p class="govuk-body" style="margin-bottom: 10px"><span class="govuk-!-font-weight-bold" ">Postcode:</span> WS13 7DH</p>
<a href="#" class="govuk-link">Change</a>
<br><br><br>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Select an address
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="updated" selected>14 addresses found</option>
          <option value="">3 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">19 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">21 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">23 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">25 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">27 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">29 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">31 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">39 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">41 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">43 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">45 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">47 WHEEL LANE, LICHFIELD, WS13 7DH</option>
          <option value="">49 WHEEL LANE, LICHFIELD, WS13 7DH</option>

        </select>
      </div>


<br><br>
<form class="form" action="" method="post">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
<a href="edit" class="govuk-link">Address not on the list</a>
    </div>
  </div>

{% endblock %}
