
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-bottom: 30px">
        Select their address
      </h1>

  <p class="govuk-body" style="margin-bottom: 10px"><span class="govuk-!-font-weight-bold" ">Postcode:</span> HU12 0SA</p>
<a href="#" class="govuk-link">Change</a>
<br><br><br>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Select an address
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="updated" selected>47 addresses found</option>
          <option value="">1 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">2 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">3 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">4 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">5 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">7 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">14 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">14 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">16 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">18 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">20 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">22 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">24 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">30 HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">ANDROMEDA, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">ASHMEADOWS, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">DEVONSHIRE HOUSE, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">EDGECOMBE DEAN, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">ELDER LODGE, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">EVERGLADES, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">FOX HAVEN, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">GRANGE BUNGALOW, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">GRANGE FARM, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">GREENACRE BARN, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">HAVEN, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">HOLCOMBE LODGE, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">HUMBER FARM, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">INGLEBOROUGH HOUSE, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">PASTURES VIEW, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">QUAKERS REST, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">ROBINS NEST, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">THE BOTTOM HOUSE, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">THE GABLES, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">THE PADDOCKS, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">THE SPINNEY, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">WEST VIEW COTTAGE, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">WEST VIEW, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
          <option value="">WHITE COTTAGE, HUMBER LANE, WELWICK, HULL, HU12 0SA</option>
        </select>
      </div>


<br><br>
<form class="form" action="../existingUT" method="post">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
<a href="edit" class="govuk-link">Address not on the list</a>
    </div>
  </div>

{% endblock %}
