
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        AA121111A
      </h1>
      <h3 class="govuk-heading-m">
        Print and send a forecast
      </h3>

      <p>
        Enter name and address to send the forecast.
      </p>

      <h4 class="govuk-heading-s">
        Send forecast to the customer or a third party?
      </h4>
<form class="form" action="existingUT5/name" method="post">
      <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="main" name="customer" type="radio" value="main">
              <label class="govuk-label govuk-radios__label" for="main">
                Customer
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="third" name="customer" type="radio" value="third">
              <label class="govuk-label govuk-radios__label" for="third">
                Third party
              </label>
            </div>
          </div>
<br><br><br>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
    </div>
  </div>

{% endblock %}
