
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">NI number: AA 12 34 56 C</span>
      <h1 class="govuk-heading-xl">
      What is their maritial status?
      </h1>

  <form class="form" action="postcode" method="post">
        <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="main" name="type" type="radio" value="main">
                <label class="govuk-label govuk-radios__label" for="main">
                  Never been married or in a civil partnership
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="third" name="type" type="radio" value="third">
                <label class="govuk-label govuk-radios__label" for="third">
                Married
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="third" name="type" type="radio" value="third">
                <label class="govuk-label govuk-radios__label" for="third">
                Civil partnership
                </label>

              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="third" name="type" type="radio" value="third">
                <label class="govuk-label govuk-radios__label" for="third">
                Divorced or dissolved civil partnershi
                </label>

              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="third" name="type" type="radio" value="third">
                <label class="govuk-label govuk-radios__label" for="third">
                Widowed
                </label>

              </div>

            </div>
<br><br><br>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
    </div>
  </div>

{% endblock %}
