
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs" style="margin-top:0px">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Subsection</li>
    </ol>
  </div>
  <br>
  <br>
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Guaranteed Minimum Pension (GMP) and the effect of the new State Pension
      </h1>



      <p class="govuk-body">If you have a Guaranteed Minimum Pension (GMP) the New State Pension could affect the amount of money you get when your reach your State Pension age.</p>
<br>
<p class="govuk-body-s" style="font-size:14px">Contents</p>
<p class="govuk-body-s" style="font-size:14px">&mdash; Who does this affect?</p>
<p class="govuk-body-s" style="font-size:14px">&mdash; What is a Guaranteed Minimum Pension (GMP)?</p>
<p class="govuk-body-s" style="font-size:14px">&mdash; New State Pension ended government paying living cost increases on your GMP</p>
  <p class="govuk-body-s" style="font-size:14px">&mdash; How private or public sector pensions affect your GMP</p>
  <p class="govuk-body-s" style="font-size:14px">&mdash; How you could build up more pension under new State Pension</p>
  <p class="govuk-body-s" style="font-size:14px">&mdash; New State Pension adjustments for living costs</p>
  <p class="govuk-body-s" style="font-size:14px">&mdash; How to check your State Pension</p>
    <p class="govuk-body-s" style="font-size:14px">&mdash; Contact us</p>


<br>
<hr />
<br>
<h2 class="govuk-heading-l">Who does this affect?</h2>
<p>You could be affected if:</p>
<ul class="govuk-list govuk-list--bullet">
<li>
you have a Guaranteed Minimum Pension (GMP) and
</li>
<li>
you reach <a href>State Pension</a> age on or after 6 April 2016
</li>
</ul>

<h2 class="govuk-heading-l">What is a Guaranteed Minimum Pension (GMP)?</h2>
  <p class="govuk-body">A GMP is a minimum pension that a workplace pension scheme normally provides. </p>
        <p class="govuk-body">It only applies to people who were <a href>contracted out</a> of the <a href>Additional State Pension</a> from 6 April 1978 to 5 April 1997.</p>
    <p class="govuk-body">The GMP you get from a workplace pension scheme is usually the same, or more than, the Additional State Pension you would have got if you had not been contracted out.</p>
    <p class="govuk-body"></p>

<h2 class="govuk-heading-l">New State Pension ended government paying living cost increases on your GMP</h2>
  <p class="govuk-body">Each year pension schemes have to increase the amount of GMP built up <a href>from April 1988 to April 1997</a> in line with living costs, this is capped at 3%. This is called ‘indexation’. </p>
    <p class="govuk-body">Pension schemes did not have to provide indexation to GMPs built up between April 1978 and April 1988</p>
      <p class="govuk-body">To stop people with GMPs losing out they could be paid increases to cover living costs by government through the Additional State Pension. It only applied to people reaching State Pension age before 6 April 2016.</p>
        <p class="govuk-body">The new State Pension started on 6 April 2016.  If you reach your State Pension age on or after this date you will get the new State Pension. You will not get the Additional State Pension from the government which would have included your indexation. These increases ended when the new State Pension started. </p>
          <p class="govuk-body">Example of how this might negatively affect you:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>
        If you got a weekly GMP of £35 in 2015 and inflation was 2%, then the next year your Additional State Pension would be a maximum of 70 pence per week higher.
          </li>
          <li>
          If you reach State Pension age on or after 6 April 2016 you do not get Additional State Pension or these increases.
          </li>
          </ul>
          <p class="govuk-body">The weekly loss is small for the first year but can build up over time.  Somebody with a large GMP reaching State Pension age from April 2016 to March 2017could have a notable loss over their whole retirement.

</p>
          <h2 class="govuk-heading-l">How private or public sector pensions affect your GMP</h2>
          <p class="govuk-body">If you have a private sector pension and left before the scheme’s pension age your GMP may have a fixed rate revaluation until you reach retirement age. This means your GMP could be higher and so you would n­­­­­ot have received indexation from the government.</p>
          <p class="govuk-body">If you have a public sector pension any indexation you built up <a href>from April 1978 to April 1988</a> is protected. It will be paid by your pension scheme.</p>

<h2 class="govuk-heading-l">How you could build up more pension under new State Pension</h2>
<p class="govuk-body">The new State Pension was introduced in 2016. It means some people who had been contracted out can build up a maximum of £2000 a year more pension (based on 2020 to 2021 rates) than they could under the old State Pension.
</p>
<h2 class="govuk-heading-l">New State Pension adjustments for living costs</h2>
<p class="govuk-body">The new State Pension has increased each year to reflect living costs, by whichever is higher of:</p>
<ul class="govuk-list govuk-list--bullet">
<li>
the growth in prices
</li>
<li>
the growth in earnings
</li>
<li>
2.5%
</li>
</ul>

<p class="govuk-body">This is known as the ‘Triple lock’. This means your State Pension has increased by £13.50 a week (based on 2020 to 2021 rates) more than you could have expected.</p>
<h2 class="govuk-heading-l">How to check your State Pension</h2>
<p class="govuk-body">If you are over State Pension age call the <a href>Pension Centre</a>.</p>
<p class="govuk-body">If you are under State Pension age, use the <a href>Check your State Pension forecast</a> service to find out how much State Pension you could get. </p>

<h2 class="govuk-heading-l">How to check your State Pension</h2>

<p class="govuk-body">You should contact us if you reached State Pension age after 5 April 2016 and after reading:</p>

  <ul class="govuk-list govuk-list--bullet">
  <li>
how private or public sector pensions affect your GMP
  </li>
  <li>
how you could build up more pension under new State Pension
  </li>
  <li>
new State Pension adjustments for living costs
  </li>
  </ul>

<p class="govuk-body">You would have planned your retirement differently.</p>

<p class="govuk-body">Complete our online form or you can write to:</p>
<br>
<p class="govuk-body">Department for Work and Pensions<br>Caxton House<br>Tothill Street<br>London<br>SW1H 9NA</p>
<br>
<br>
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Print entire guide
</button>


    </div>
  </div>

<p class="govuk-body"></p>
{% endblock %}
