
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        sfcyspf-prototype
      </h1>

      <h2 class="govuk-heading-m">Existing service</h2>
<ul class="govuk-list govuk-list--bullet">
<li>
PRP-96 (overseas address) & PRP-585 (postcode finder)
</li>
</ul>
      <p><a href="existing">Version 1</a></p>
      <p><a href="existing2">Version 2</a></p>
      <p><a href="existing3">Version 3</a></p>
      <p><a href="existingUT">User testing (based on Version 2)</a></p>
      <p><a href="existing_errors">Validation errors</a></p>

      <p>Final version</p>
      <p><a href="existing_final">Main Journey 1.0</a></p>
      <p><a href="existing_final2">Main Journey 2.0</a></p>
      <p><a href="existing_final/name2">Third party details page</a></p>
      <p><a href="existing_errors/postcode_error">Error - postcode page</a></p>
      <p><a href="existing_errors/resultG42_error">Error - address page</a></p>
      <p><a href="existing_final/edit-new_error">Error - manual entry page</a></p>
        <p><a href="existing_final/edit-new_error">Error - manual entry page invalid format/special characters</a></p>
      <p><a href="existing_final/overseas_error">Error - overseas page</a></p>
      <p><a href="existing_errors/resultG42_2">Error - no assigned postcode</a></p>

<br>
      <ul class="govuk-list govuk-list--bullet">
      <li>
      Contracted out - notification page
      </li>
      </ul>
      <p><a href="notifications/template">Template</a></p>
      <p><a href="notifications/forecast1">Notification 1 v0.1</a></p>
      <p><a href="notifications/forecast1_02">Notification 1 v0.2</a></p>
      <p><a href="notifications/forecast2">Notification 2 v0.1</a></p>
      <p><a href="notifications/forecast2_02">Notification 2 v0.2</a></p>

<br>
      <ul class="govuk-list govuk-list--bullet">
      <li>
      PRP-750 (exclusion screens)
      </li>
      </ul>
<p><a href="notifications/missingcope.html">version 0.1</a></p>
<p><a href="notifications/missingcope2.html">version 0.1b</a></p>
<p><a href="notifications/missingcopeUT.html">screen 1 - version for testing</a></p>
<p><a href="notifications/missingcopeUT2.html">screen 2 - version for testing</a></p>
<p><a href="missingcope2">version 0.2 - Journey 1</a></p>
<p><a href="missingcope3">version 0.2 - Journey 2</a></p>
<p><a href="missingcope4">version 0.2 - Journey 3</a></p>
<p><a href="missingcope2_2">version 0.3 - Journey 1</a></p>
<p><a href="missingcope3_2">version 0.3 - Journey 2</a></p>
<p><a href="missingcope4_2">version 0.3 - Journey 3</a></p>
<p><a href="missingcope2_3">version 0.4 - Journey 1</a></p>
<p><a href="missingcope3_3">version 0.4 - Journey 2</a></p>
<p><a href="missingcope4_3">version 0.4 - Journey 3</a></p>
<p><a href="missingcope5_3">version 0.4 - Journey 4</a></p>

<br>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>
GMP factsheet
</li>
</ul>
<p><a href="GMB">version 0.1</a></p>

<br>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Incorrect URL error pages
</li>
</ul>
<p><a href="no_page">PRP-803 - FIND - Design for error message Agent</a></p>
<p><a href="no_page2">PRP-804 - FIND - Design for error message citizen</a></p>





<br>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Redesign
</li>
</ul>
<p><a href="over_pension_age">Over state pension age 0.1</a></p>
<p><a href="over_pension_age2">Over state pension age 0.1 - with NIN on capture pages</a></p>
<p><a href="over_pension_age_b">Over state pension age 0.1 - Flat page</a></p>
<br>
<p><a href="mc0_1">Exclusion for Manual Correspondence Indicator v0.1</a></p>
<br>
<p><a href="IoM0_1">Interaction design for Exclusion Isle of Man v0.1</a></p>
<br><br>
<p><a href="over_pension_age0_2">Over state pension age 0.2</a></p>
<p><a href="mc0_2">Exclusion for Manual Correspondence Indicator v0.2</a></p>
<p><a href="IoM0_2">Interaction design for Exclusion Isle of Man v0.2</a></p>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Alternative formats
</li>
</ul>
<p><a href="over_pension_age2_2">version 0.1</a></p>
<p><a href="over_pension_age2_3">version 0.2</a></p>
<p><a href="UTscenarios">User testing scenarios</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Standard record
</li>
</ul>
<p><a href="dashboard-mqp0_1c">version 0.1</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Reduced Rate Election
</li>
</ul>
<p><a href="dashboard-mqp0_1b">version 0.1</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Minimum qualifying period
</li>
</ul>
<p><a href="dashboard-mqp0_1">version 0.1 - Never</a></p>
<p><a href="dashboard-mqp0_1/index2">version 0.1 - Maybe</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Dashboard - User testing
</li>
</ul>
<p><a href="dashboard-mqp0_1/NI">version 1.0
</a></p>
<p><a href="dashboard-mqp0_1UT/NI">version 1.1
</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Third party
</li>
</ul>
<p><a href="thirdparty"> name - version 0.3</a></p>
<p><a href="thirdparty/marital">marital status version 0.2</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Marital status
</li>
</ul>
<p><a href="marital"> version 0.2 </a></p>

    </div>
  </div>

{% endblock %}
