
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        sfcyspf-prototype
      </h1>

      <h2 class="govuk-heading-m">Existing service</h2>
<ul class="govuk-list govuk-list--bullet">
<li>
PRP-96 (overseas address) & PRP-585 (postcode finder)
</li>
</ul>
      <p><a href="existing">Version 1</a></p>
      <p><a href="existing2">Version 2</a></p>
      <p><a href="existing3">Version 3</a></p>
      <p><a href="existingUT">User testing (based on Version 2)</a></p>
      <p><a href="existing_errors">Validation errors</a></p>

      <p>Final version</p>
      <p><a href="existing_final">Main Journey</a></p>
      <p><a href="existing_final/name2">Third party details page</a></p>
      <p><a href="existing_errors/postcode_error">Error - postcode page</a></p>
      <p><a href="existing_errors/resultG42_error">Error - address page</a></p>
      <p><a href="existing_final/edit-new_error">Error - manual entry page</a></p>
        <p><a href="existing_final/edit-new_error">Error - manual entry page invalid format/special characters</a></p>
      <p><a href="existing_final/overseas_error">Error - overseas page</a></p>
      <p><a href="existing_errors/resultG42_2">Error - no assigned postcode</a></p>

<br>
      <ul class="govuk-list govuk-list--bullet">
      <li>
      Contracted out - notification page
      </li>
      </ul>
      <p><a href="notifications/template">Template</a></p>
      <p><a href="notifications/forecast1">Notification 1 v0.1</a></p>
      <p><a href="notifications/forecast1_02">Notification 1 v0.2</a></p>
      <p><a href="notifications/forecast2">Notification 2 v0.1</a></p>
      <p><a href="notifications/forecast2_02">Notification 2 v0.2</a></p>

<br>
      <ul class="govuk-list govuk-list--bullet">
      <li>
      PRP-750 (exclusion screens)
      </li>
      </ul>
<p><a href="notifications/missingcope.html">version 0.1</a></p>
<p><a href="notifications/missingcope2.html">version 0.1b</a></p>
<p><a href="notifications/missingcopeUT.html">screen 1 - version for testing</a></p>
<p><a href="notifications/missingcopeUT2.html">screen 2 - version for testing</a></p>
<p><a href="missingcope2">version 0.2 - Journey 1</a></p>
<p><a href="missingcope3">version 0.2 - Journey 2</a></p>
<p><a href="missingcope4">version 0.2 - Journey 3</a></p>
<p><a href="missingcope2_2">version 0.3 - Journey 1</a></p>
<p><a href="missingcope3_2">version 0.3 - Journey 2</a></p>
<p><a href="missingcope4_2">version 0.3 - Journey 3</a></p>
<p><a href="missingcope2_3">version 0.4 - Journey 1</a></p>
<p><a href="missingcope3_3">version 0.4 - Journey 2</a></p>
<p><a href="missingcope4_3">version 0.4 - Journey 3</a></p>
<p><a href="missingcope5_3">version 0.4 - Journey 4</a></p>

<br>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>
GMP factsheet
</li>
</ul>
<p><a href="GMB">version 0.1</a></p>


    </div>
  </div>

{% endblock %}
