
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        sfcyspf-prototype
      </h1>
<h2 class="govuk-heading-m">New service - user journeys</h2>
<ul class="govuk-list govuk-list--bullet">
<li>
Role A - data capture only
</li>
</ul>
<p><a href="RoleA/NI">Version 1</a></p>
<br>

<ul class="govuk-list govuk-list--bullet">
<li>
Role C - specialist
</li>
</ul>
<p><a href="RoleC/NI">Version 1 - old</a></p>
<p><a href="RoleC0_3/NI">CIS data 0.1</a></p>
<p><a href="RoleC0_4/NI">LATEST - with CIS data 0.4</a></p>
<p><a href="RoleC0_5/NI">LATEST - with CIS data 0.5</a></p>

<ul class="govuk-list govuk-list--bullet">
<li>
CIS errors
</li>
</ul>
<p><a href="RoleC0_4/NI_invalid">Invalid NINO error </a></p>
<p><a href="RoleC0_4/NI_missing">NINO not found error </a></p>
<p><a href="RoleC0_4/NI_access">Insufficient Access Level error</a></p>
<p><a href="RoleC0_4/NI_oracle">Oracle Error</a></p>


<p>Minimum qualifying period (maybe) - QQ 12 34 56 C</p>
<p>Minimum qualifying period (never) - QQ 23 45 65 D</p>
<p>Reduced Rate Election - QQ 34 56 78 E</p>
<p>Standard Rate (future and past years available) - QQ 45 67 89 F</p>
<p>Standard Rate (only past years available) - QQ 91 82 73 G</p>
<p>Standard Rate (only future years available) - QQ 64 55 19 H</p>
<br><br>
<h2 class="govuk-heading-m">New service - user journeys</h2>
<p><a href="MQP_letter0_1/NI">Version 1.0</a></p>
<br>
<h2 class="govuk-heading-m">Something's gone wrong pages</h2>
<p><a href="gone_wrong/less_than_0">Years less than 0</a></p>
<p><a href="gone_wrong/forecast_amount">Current amount great than forecast amount</a></p>
<p><a href="gone_wrong/current_amount">Current amount greater than max amount</a></p>
<p><a href="gone_wrong/max_amount">Forecast amount greater than max amount</a></p>
<p><a href="gone_wrong/greater_than_10">Years greater than 10 and amount 0</a></p>
<br>

<hr>
<br>
      <h2 class="govuk-heading-m">Existing service</h2>
<ul class="govuk-list govuk-list--bullet">
<li>
PRP-96 (overseas address) & PRP-585 (postcode finder)
</li>
</ul>
      <p><a href="existing">Version 1</a></p>
      <p><a href="existing2">Version 2</a></p>
      <p><a href="existing3">Version 3</a></p>
      <p><a href="existingUT">User testing (based on Version 2)</a></p>
      <p><a href="existing_errors">Validation errors</a></p>

      <p>Final version</p>
      <p><a href="existing_final">Main Journey 1.0</a></p>
      <p><a href="existing_final2">Main Journey 2.0</a></p>
      <p><a href="existing_final/name2">Third party details page</a></p>
      <p><a href="existing_errors/postcode_error">Error - postcode page</a></p>
      <p><a href="existing_errors/resultG42_error">Error - address page</a></p>
      <p><a href="existing_final/edit-new_error">Error - manual entry page</a></p>
        <p><a href="existing_final/edit-new_error">Error - manual entry page invalid format/special characters</a></p>
      <p><a href="existing_final/overseas_error">Error - overseas page</a></p>
      <p><a href="existing_errors/resultG42_2">Error - no assigned postcode</a></p>

<br>
      <ul class="govuk-list govuk-list--bullet">
      <li>
      Contracted out - notification page
      </li>
      </ul>
      <p><a href="notifications/template">Template</a></p>
      <p><a href="notifications/forecast1">Notification 1 v0.1</a></p>
      <p><a href="notifications/forecast1_02">Notification 1 v0.2</a></p>
      <p><a href="notifications/forecast2">Notification 2 v0.1</a></p>
      <p><a href="notifications/forecast2_02">Notification 2 v0.2</a></p>

<br>
      <ul class="govuk-list govuk-list--bullet">
      <li>
      PRP-750 (exclusion screens)
      </li>
      </ul>
<p><a href="notifications/missingcope.html">version 0.1</a></p>
<p><a href="notifications/missingcope2.html">version 0.1b</a></p>
<p><a href="notifications/missingcopeUT.html">screen 1 - version for testing</a></p>
<p><a href="notifications/missingcopeUT2.html">screen 2 - version for testing</a></p>
<p><a href="missingcope2">version 0.2 - Journey 1</a></p>
<p><a href="missingcope3">version 0.2 - Journey 2</a></p>
<p><a href="missingcope4">version 0.2 - Journey 3</a></p>
<p><a href="missingcope2_2">version 0.3 - Journey 1</a></p>
<p><a href="missingcope3_2">version 0.3 - Journey 2</a></p>
<p><a href="missingcope4_2">version 0.3 - Journey 3</a></p>
<p><a href="missingcope2_3">version 0.4 - Journey 1</a></p>
<p><a href="missingcope3_3">version 0.4 - Journey 2</a></p>
<p><a href="missingcope4_3">version 0.4 - Journey 3</a></p>
<p><a href="missingcope5_3">version 0.4 - Journey 4</a></p>

<p><a href="missingcope2_4">version 0.6 - Journey 1</a></p>
<p><a href="missingcope3_4">version 0.6 - Journey 2</a></p>
<p><a href="missingcope4_4">version 0.6 - Journey 3</a></p>


<br>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>
GMP factsheet
</li>
</ul>
<p><a href="GMB">version 0.1</a></p>

<br>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Incorrect URL error pages
</li>
</ul>
<p><a href="no_page">PRP-803 - FIND - Design for error message Agent</a></p>
<p><a href="no_page2">PRP-804 - FIND - Design for error message citizen</a></p>





<br>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Redesign
</li>
</ul>
<p><a href="over_pension_age">Over state pension age 0.1</a></p>
<p><a href="over_pension_age2">Over state pension age 0.1 - with NIN on capture pages</a></p>
<p><a href="over_pension_age_b">Over state pension age 0.1 - Flat page</a></p>
<br>
<p><a href="mc0_1">Exclusion for Manual Correspondence Indicator v0.1</a></p>
<br>
<p><a href="IoM0_1">Interaction design for Exclusion Isle of Man v0.1</a></p>
<br><br>
<p><a href="over_pension_age0_2">Over state pension age 0.2</a></p>
<p><a href="mc0_2">Exclusion for Manual Correspondence Indicator v0.2</a></p>
<p><a href="IoM0_2">Interaction design for Exclusion Isle of Man v0.2</a></p>
<p><a href="DExclusion">Exclusion screen Dead</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Alternative formats
</li>
</ul>
<p><a href="over_pension_age2_2">version 0.1</a></p>
<p><a href="over_pension_age2_3">version 0.2</a></p>
<p><a href="UTscenarios">User testing scenarios</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Standard record
</li>
</ul>
<p><a href="dashboard-mqp0_1c">version 0.1</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Reduced Rate Election
</li>
</ul>
<p><a href="dashboard-mqp0_1b">version 0.1</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Minimum qualifying period
</li>
</ul>
<p><a href="dashboard-mqp0_1">version 0.1 - Never</a></p>
<p><a href="dashboard-mqp0_1/index2">version 0.1 - Maybe</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Dashboard - User testing
</li>
</ul>
<p><a href="dashboard-mqp0_1/NI">version 1.0
</a></p>
<!-- <p><a href="dashboard-mqp0_1UT/NI">version 1.1
</a></p> -->

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Dashboard - version 2 (post user testing)
</li>
</ul>
<p><a href="dashboard-mqp0_2UT/dashSR">Standard Record
</a></p>
<p><a href="dashboard-mqp0_2UT/dashRRE">RRE
</a></p>
<p><a href="dashboard-mqp0_2UT/dashYUI">YUI
</a></p>
<p><a href="dashboard-mqp0_2UT/index">MQP - never
</a></p>
<p><a href="dashboard-mqp0_2UT/dashMB">MQP - maybe
</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Third party
</li>
</ul>
<p><a href="thirdparty"> name - version 0.3</a></p>
<p><a href="thirdparty/marital">marital status version 0.2</a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Marital status
</li>
</ul>
<p><a href="marital"> version 0.2 </a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
Failed confirmation
</li>
</ul>
<p><a href="failed_conf/"> version 0.1 </a></p>

<br>
<ul class="govuk-list govuk-list--bullet">
<li>
User testing - w/c 2 August 2021
</li>
</ul>
<p><a href="journeyUT1/NI"> version 1.0 </a></p>
<p><a href="journeyUT1_1/NI"> version 1.1 </a></p>

    </div>
  </div>

{% endblock %}
