
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">NI number: QQ 12 34 56 C</span>
      <h1 class="govuk-heading-l" style="margin-bottom:15px">
      Appointee found
      </h1>
      <div class="govuk-inset-text">
        Derrek Bowen<br>
        Born on 1 March 1959<br>

      </div>
    <br>

  <p>Does the person requesting the forecast match the details above?</p>
  <form class="form" action="attorney" method="post">
        <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="main" name="type" type="radio" value="main">
                <label class="govuk-label govuk-radios__label" for="main">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="third" name="type" type="radio" value="third">
                <label class="govuk-label govuk-radios__label" for="third">
                No
                </label>
                <!-- <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
        Access <span class="govuk-body govuk-!-font-weight-bold">Searchlight</span> using the customer's National insruance number. <br>
        Check whether the customer has a legal representative.
        </div> -->
              </div>

            </div>
<br><br><br>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
    </div>
  </div>

{% endblock %}
