
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check" method="post">
      <h1 class="govuk-heading-l" style="margin-bottom:10px">
        The oracle is down and CIS data are missing
      </h1>
<br>
<p>This means we cannot display customer's name, date of birth or address. Please continue as per the protocol.</p>



<br>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
</form>
    </div>
  </div>

{% endblock %}
