
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" style="margin-bottom:10px">
      Improving state pension for <br>QQ 12 23 34 C

      </h1>
<!-- <strong class="govuk-tag govuk-tag--blue" id="company-information-status">Standard record</strong> -->
<strong class="govuk-tag govuk-tag--grey" id="company-information-status">7 years with Gaps</strong>
  <!-- <p class='govuk-body'>1 year can be filled</p> -->
  <div class="govuk-inset-text">
    <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:10px">Estimate up to 5 April 2020</p>
    <p class="govuk-body">£130.47 a week</p>
  </div>
  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Improve to</th>
        <th scope="col" class="govuk-table__header">Gaps</th>
        <th scope="col" class="govuk-table__header">Total cost</th>
        <th scope="col" class="govuk-table__header"></th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">£135.61 a week<br>
        </td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" id="company-information-status">£100</strong></td>
        <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">£140.74 a week</td>
        <td class="govuk-table__cell">2</td>
<td class="govuk-table__cell">£200</td>
<td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">£145.87 a week</td>
        <td class="govuk-table__cell">3</td>
<td class="govuk-table__cell">£300</td>
<td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">£150.99 a week</td>
        <td class="govuk-table__cell">4</td>
<td class="govuk-table__cell">£500</td>
<td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>

      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">£151.01 a week</td>
        <td class="govuk-table__cell">5</td>
<td class="govuk-table__cell">£700</td>
<td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>

      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">£156.13 a week</td>
        <td class="govuk-table__cell">6</td>
<td class="govuk-table__cell">£800</td>
<td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>

      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" id="company-information-status">£161.27 a week</strong></td>
        <td class="govuk-table__cell">7</td>
<td class="govuk-table__cell">£1200</td>
<td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>

      </tr>

    </tbody>
  </table>
<br><br>
  <form class="form" action="dashSR" method="post">
            <button class="govuk-button" data-module="govuk-button">
              Back to forecast
            </button>
  </form>

    </div>
  </div>

{% endblock %}
